In [1]:
%pip install vanna[openai]
%pip install python-dotenv
%pip install pandas

Requirement already satisfied: vanna[openai] in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (0.7.9)
Requirement already satisfied: requests in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (2.32.4)
Requirement already satisfied: tabulate in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (0.9.0)
Requirement already satisfied: plotly in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (6.2.0)
Requirement already satisfied: pandas in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (2.3.1)
Requirement already satisfied: sqlparse in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (0.5.3)
Requirement already satisfied: kaleido in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (1.0.0)
Requirement already satisfied: flask in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (3.1.1)
Requirement already satisfied: flask-sock in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (0.7.0)
Requirement already satisfied: flasgger in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (0.9.7.1)
Requirement already satisfied: sqlalchemy in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (2.0.41)
Requirement already satisfied: openai in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from vanna[openai]) (1.97.0)
Requirement already satisfied: PyYAML>=3.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flasgger->vanna[openai]) (6.0.2)
Requirement already satisfied: jsonschema>=3.0.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flasgger->vanna[openai]) (4.25.0)
Requirement already satisfied: mistune in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flasgger->vanna[openai]) (3.1.3)
Requirement already satisfied: six>=1.10.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flasgger->vanna[openai]) (1.17.0)
Requirement already satisfied: packaging in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flasgger->vanna[openai]) (25.0)
Requirement already satisfied: blinker>=1.9.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flask->vanna[openai]) (1.9.0)
Requirement already satisfied: click>=8.1.3 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flask->vanna[openai]) (8.2.1)
Requirement already satisfied: itsdangerous>=2.2.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flask->vanna[openai]) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flask->vanna[openai]) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flask->vanna[openai]) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flask->vanna[openai]) (3.1.3)
Requirement already satisfied: colorama in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from click>=8.1.3->flask->vanna[openai]) (0.4.6)
Requirement already satisfied: attrs>=22.2.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna[openai]) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna[openai]) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna[openai]) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna[openai]) (0.26.0)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from referencing>=0.28.4->jsonschema>=3.0.1->flasgger->vanna[openai]) (4.14.1)
Requirement already satisfied: simple-websocket>=0.5.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from flask-sock->vanna[openai]) (1.1.0)
Requirement already satisfied: wsproto in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from simple-websocket>=0.5.1->flask-sock->vanna[openai]) (1.2.0)
Requirement already satisfied: choreographer>=1.0.5 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from kaleido->vanna[openai]) (1.0.9)
Requirement already satisfied: logistro>=1.0.8 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from kaleido->vanna[openai]) (1.1.0)
Requirement already satisfied: orjson>=3.10.15 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from kaleido->vanna[openai]) (3.11.0)
Requirement already satisfied: simplejson>=3.19.3 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from choreographer>=1.0.5->kaleido->vanna[openai]) (3.20.1)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from openai->vanna[openai]) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from openai->vanna[openai]) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from openai->vanna[openai]) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from openai->vanna[openai]) (0.10.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from openai->vanna[openai]) (2.11.7)
Requirement already satisfied: sniffio in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from openai->vanna[openai]) (1.3.1)
Requirement already satisfied: tqdm>4 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from openai->vanna[openai]) (4.67.1)
Requirement already satisfied: idna>=2.8 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from anyio<5,>=3.5.0->openai->vanna[openai]) (3.10)
Requirement already satisfied: certifi in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from httpx<1,>=0.23.0->openai->vanna[openai]) (2025.7.14)
Requirement already satisfied: httpcore==1.* in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from httpx<1,>=0.23.0->openai->vanna[openai]) (1.0.9)
Requirement already satisfied: h11>=0.16 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai->vanna[openai]) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pydantic<3,>=1.9.0->openai->vanna[openai]) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pydantic<3,>=1.9.0->openai->vanna[openai]) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pydantic<3,>=1.9.0->openai->vanna[openai]) (0.4.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas->vanna[openai]) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas->vanna[openai]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas->vanna[openai]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas->vanna[openai]) (2025.2)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from plotly->vanna[openai]) (1.48.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from requests->vanna[openai]) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from requests->vanna[openai]) (2.5.0)
Requirement already satisfied: greenlet>=1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from sqlalchemy->vanna[openai]) (3.2.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\eliec\documents\code\certif_devia\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from vanna.openai import OpenAI_Chat
from vanna.base import VannaBase
from vanna.flask import VannaFlaskApp
from vanna.vannadb import VannaDB_VectorStore
from vanna.flask.auth import AuthInterface
import flask
import os
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
class MyCustomVectorDB(VannaBase):
    def __init__(self, config=None):
        super().__init__(config)
        self.ddl_list = []
        self.documentation_list = []
        self.question_sql_list = []

    def add_ddl(self, ddl: str, **kwargs) -> str:
        self.ddl_list.append(ddl)
        return ddl

    def add_documentation(self, doc: str, **kwargs) -> str:
        self.documentation_list.append(doc)
        return doc

    def add_question_sql(self, question: str, sql: str, **kwargs) -> str:
        self.question_sql_list.append((question, sql))
        return sql

    def get_related_ddl(self, question: str, **kwargs) -> list:
        return self.ddl_list

    def get_related_documentation(self, question: str, **kwargs) -> list:
        return self.documentation_list

    def get_similar_question_sql(self, question: str, **kwargs) -> list:
        return self.question_sql_list

    def get_training_data(self, **kwargs) -> pd.DataFrame:
        # Créer des listes de même longueur
        max_len = max(len(self.ddl_list), len(self.documentation_list), len(self.question_sql_list))
        
        # Étendre chaque liste à la longueur maximale avec None
        ddl_extended = self.ddl_list + [None] * (max_len - len(self.ddl_list))
        doc_extended = self.documentation_list + [None] * (max_len - len(self.documentation_list))
        qs_extended = self.question_sql_list + [None] * (max_len - len(self.question_sql_list))
        
        data = {
            'ddl': ddl_extended,
            'documentation': doc_extended,
            'question_sql': qs_extended
        }
        return pd.DataFrame(data)

    def remove_training_data(self, id: str, **kwargs) -> bool:
        return True

    def generate_embedding(self, text: str, **kwargs) -> list:
        # Retourne un vecteur d'embedding simple (liste de 0)
        return [0] * 10


class MyVanna(OpenAI_Chat, MyCustomVectorDB):  # Changement de l'ordre d'héritage
    def __init__(self, config=None):
        config = config or {}  # Si config est None, utilise un dictionnaire vide
        OpenAI_Chat.__init__(self, config=config)  # Initialise OpenAI_Chat en premier
        VannaBase.__init__(self, config=config)  # Initialise VannaBase directement
        self.ddl_list = []  # Initialise les listes directement ici
        self.documentation_list = []
        self.question_sql_list = []

vn = MyVanna(config={'api_key': os.getenv('OPENAI_API_KEY'), 'model': 'gpt-4o-mini'})

In [4]:
vn.connect_to_sqlite('sqlite-sakila.db')

In [5]:
df_ddl = vn.run_sql("SELECT type, sql FROM sqlite_master WHERE sql is not null")

for ddl in df_ddl['sql'].to_list():
  vn.train(ddl=ddl)

Adding ddl: CREATE TABLE actor (
  actor_id numeric NOT NULL ,
  first_name VARCHAR(45) NOT NULL,
  last_name VARCHAR(45) NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (actor_id)
  )
Adding ddl: CREATE INDEX idx_actor_last_name ON actor(last_name)

Adding ddl: CREATE TRIGGER actor_trigger_ai AFTER INSERT ON actor
 BEGIN
  UPDATE actor SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER actor_trigger_au AFTER UPDATE ON actor
 BEGIN
  UPDATE actor SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE country (
  country_id SMALLINT NOT NULL,
  country VARCHAR(50) NOT NULL,
  last_update TIMESTAMP,
  PRIMARY KEY  (country_id)
)
Adding ddl: CREATE TRIGGER country_trigger_ai AFTER INSERT ON country
 BEGIN
  UPDATE country SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER country_trigger_au AFTER UPDATE ON country
 BEGIN
  UPDATE country SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE city (
  city_id int NOT NULL,
  city VARCHAR(50) NOT NULL,
  country_id SMALLINT NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (city_id),
  CONSTRAINT fk_city_country FOREIGN KEY (country_id) REFERENCES country (country_id) ON DELETE NO ACTION ON UPDATE CASCADE
)
Adding ddl: CREATE INDEX idx_fk_country_id ON city(country_id)

Adding ddl: CREATE TRIGGER city_trigger_ai AFTER INSERT ON city
 BEGIN
  UPDATE city SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER city_trigger_au AFTER UPDATE ON city
 BEGIN
  UPDATE city SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE address (
  address_id int NOT NULL,
  address VARCHAR(50) NOT NULL,
  address2 VARCHAR(50) DEFAULT NULL,
  district VARCHAR(20) NOT NULL,
  city_id INT  NOT NULL,
  postal_code VARCHAR(10) DEFAULT NULL,
  phone VARCHAR(20) NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (address_id),
  CONSTRAINT fk_address_city FOREIGN KEY (city_id) REFERENCES city (city_id) ON DELETE NO ACTION ON UPDATE CASCADE
)
Adding ddl: CREATE INDEX idx_fk_city_id ON address(city_id)

Adding ddl: CREATE TRIGGER address_trigger_ai AFTER INSERT ON address
 BEGIN
  UPDATE address SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER address_trigger_au AFTER UPDATE ON address
 BEGIN
  UPDATE address SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE language (
  language_id SMALLINT NOT NULL ,
  name CHAR(20) NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY (language_id)
)
Adding ddl: CREATE TRIGGER language_trigger_ai AFTER INSERT ON language
 BEGIN
  UPDATE language SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER language_trigger_au AFTER UPDATE ON language
 BEGIN
  UPDATE language SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE category (
  category_id SMALLINT NOT NULL,
  name VARCHAR(25) NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (category_id)
)
Adding ddl: CREATE TRIGGER category_trigger_ai AFTER INSERT ON category
 BEGIN
  UPDATE category SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER category_trigger_au AFTER UPDATE ON category
 BEGIN
  UPDATE category SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE customer (
  customer_id INT NOT NULL,
  store_id INT NOT NULL,
  first_name VARCHAR(45) NOT NULL,
  last_name VARCHAR(45) NOT NULL,
  email VARCHAR(50) DEFAULT NULL,
  address_id INT NOT NULL,
  active CHAR(1) DEFAULT 'Y' NOT NULL,
  create_date TIMESTAMP NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (customer_id),
  CONSTRAINT fk_customer_store FOREIGN KEY (store_id) REFERENCES store (store_id) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT fk_customer_address FOREIGN KEY (address_id) REFERENCES address (address_id) ON DELETE NO ACTION ON UPDATE CASCADE
)
Adding ddl: CREATE INDEX idx_customer_fk_store_id ON customer(store_id)

Adding ddl: CREATE INDEX idx_customer_fk_address_id ON customer(address_id)

Adding ddl: CREATE INDEX idx_customer_last_name ON customer(last_name)

Adding ddl: CREATE TRIGGER customer_trigger_ai AFTER INSERT ON customer
 BEGIN
  UPDATE customer SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER customer_trigger_au AFTER UPDATE ON customer
 BEGIN
  UPDATE customer SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE film (
  film_id int NOT NULL,
  title VARCHAR(255) NOT NULL,
  description BLOB SUB_TYPE TEXT DEFAULT NULL,
  release_year VARCHAR(4) DEFAULT NULL,
  language_id SMALLINT NOT NULL,
  original_language_id SMALLINT DEFAULT NULL,
  rental_duration SMALLINT  DEFAULT 3 NOT NULL,
  rental_rate DECIMAL(4,2) DEFAULT 4.99 NOT NULL,
  length SMALLINT DEFAULT NULL,
  replacement_cost DECIMAL(5,2) DEFAULT 19.99 NOT NULL,
  rating VARCHAR(10) DEFAULT 'G',
  special_features VARCHAR(100) DEFAULT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (film_id),
  CONSTRAINT CHECK_special_features CHECK(special_features is null or
                                                           special_features like '%Trailers%' or
                                                           special_features like '%Commentaries%' or
                                                           special_features like '%Deleted Scenes%' or
                                                           special_features like '%Behind the Scenes%'),
  CONSTRAINT CHECK_special_rating CHECK(rating in ('G','PG','PG-13','R','NC-17')),
  CONSTRAINT fk_film_language FOREIGN KEY (language_id) REFERENCES language (language_id) ,
  CONSTRAINT fk_film_language_original FOREIGN KEY (original_language_id) REFERENCES language (language_id)
)
Adding ddl: CREATE INDEX idx_fk_language_id ON film(language_id)

Adding ddl: CREATE INDEX idx_fk_original_language_id ON film(original_language_id)

Adding ddl: CREATE TRIGGER film_trigger_ai AFTER INSERT ON film
 BEGIN
  UPDATE film SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER film_trigger_au AFTER UPDATE ON film
 BEGIN
  UPDATE film SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE film_actor (
  actor_id INT NOT NULL,
  film_id  INT NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (actor_id,film_id),
  CONSTRAINT fk_film_actor_actor FOREIGN KEY (actor_id) REFERENCES actor (actor_id) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT fk_film_actor_film FOREIGN KEY (film_id) REFERENCES film (film_id) ON DELETE NO ACTION ON UPDATE CASCADE
)
Adding ddl: CREATE INDEX idx_fk_film_actor_film ON film_actor(film_id)

Adding ddl: CREATE INDEX idx_fk_film_actor_actor ON film_actor(actor_id)

Adding ddl: CREATE TRIGGER film_actor_trigger_ai AFTER INSERT ON film_actor
 BEGIN
  UPDATE film_actor SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER film_actor_trigger_au AFTER UPDATE ON film_actor
 BEGIN
  UPDATE film_actor SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE film_category (
  film_id INT NOT NULL,
  category_id SMALLINT  NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY (film_id, category_id),
  CONSTRAINT fk_film_category_film FOREIGN KEY (film_id) REFERENCES film (film_id) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT fk_film_category_category FOREIGN KEY (category_id) REFERENCES category (category_id) ON DELETE NO ACTION ON UPDATE CASCADE
)
Adding ddl: CREATE INDEX idx_fk_film_category_film ON film_category(film_id)

Adding ddl: CREATE INDEX idx_fk_film_category_category ON film_category(category_id)

Adding ddl: CREATE TRIGGER film_category_trigger_ai AFTER INSERT ON film_category
 BEGIN
  UPDATE film_category SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER film_category_trigger_au AFTER UPDATE ON film_category
 BEGIN
  UPDATE film_category SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE film_text (
  film_id SMALLINT NOT NULL,
  title VARCHAR(255) NOT NULL,
  description BLOB SUB_TYPE TEXT,
  PRIMARY KEY  (film_id)
)
Adding ddl: CREATE TABLE inventory (
  inventory_id INT NOT NULL,
  film_id INT NOT NULL,
  store_id INT NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (inventory_id),
  CONSTRAINT fk_inventory_store FOREIGN KEY (store_id) REFERENCES store (store_id) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT fk_inventory_film FOREIGN KEY (film_id) REFERENCES film (film_id) ON DELETE NO ACTION ON UPDATE CASCADE
)
Adding ddl: CREATE INDEX idx_fk_film_id ON inventory(film_id)

Adding ddl: CREATE INDEX idx_fk_film_id_store_id ON inventory(store_id,film_id)

Adding ddl: CREATE TRIGGER inventory_trigger_ai AFTER INSERT ON inventory
 BEGIN
  UPDATE inventory SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER inventory_trigger_au AFTER UPDATE ON inventory
 BEGIN
  UPDATE inventory SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE staff (
  staff_id SMALLINT NOT NULL,
  first_name VARCHAR(45) NOT NULL,
  last_name VARCHAR(45) NOT NULL,
  address_id INT NOT NULL,
  picture BLOB DEFAULT NULL,
  email VARCHAR(50) DEFAULT NULL,
  store_id INT NOT NULL,
  active SMALLINT DEFAULT 1 NOT NULL,
  username VARCHAR(16) NOT NULL,
  password VARCHAR(40) DEFAULT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (staff_id),
  CONSTRAINT fk_staff_store FOREIGN KEY (store_id) REFERENCES store (store_id) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT fk_staff_address FOREIGN KEY (address_id) REFERENCES address (address_id) ON DELETE NO ACTION ON UPDATE CASCADE
)
Adding ddl: CREATE INDEX idx_fk_staff_store_id ON staff(store_id)

Adding ddl: CREATE INDEX idx_fk_staff_address_id ON staff(address_id)

Adding ddl: CREATE TRIGGER staff_trigger_ai AFTER INSERT ON staff
 BEGIN
  UPDATE staff SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER staff_trigger_au AFTER UPDATE ON staff
 BEGIN
  UPDATE staff SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE store (
  store_id INT NOT NULL,
  manager_staff_id SMALLINT NOT NULL,
  address_id INT NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (store_id),
  CONSTRAINT fk_store_staff FOREIGN KEY (manager_staff_id) REFERENCES staff (staff_id) ,
  CONSTRAINT fk_store_address FOREIGN KEY (address_id) REFERENCES address (address_id)
)
Adding ddl: CREATE INDEX idx_store_fk_manager_staff_id ON store(manager_staff_id)

Adding ddl: CREATE INDEX idx_fk_store_address ON store(address_id)

Adding ddl: CREATE TRIGGER store_trigger_ai AFTER INSERT ON store
 BEGIN
  UPDATE store SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER store_trigger_au AFTER UPDATE ON store
 BEGIN
  UPDATE store SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE payment (
  payment_id int NOT NULL,
  customer_id INT  NOT NULL,
  staff_id SMALLINT NOT NULL,
  rental_id INT DEFAULT NULL,
  amount DECIMAL(5,2) NOT NULL,
  payment_date TIMESTAMP NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY  (payment_id),
  CONSTRAINT fk_payment_rental FOREIGN KEY (rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT fk_payment_customer FOREIGN KEY (customer_id) REFERENCES customer (customer_id) ,
  CONSTRAINT fk_payment_staff FOREIGN KEY (staff_id) REFERENCES staff (staff_id)
)
Adding ddl: CREATE INDEX idx_fk_staff_id ON payment(staff_id)

Adding ddl: CREATE INDEX idx_fk_customer_id ON payment(customer_id)

Adding ddl: CREATE TRIGGER payment_trigger_ai AFTER INSERT ON payment
 BEGIN
  UPDATE payment SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER payment_trigger_au AFTER UPDATE ON payment
 BEGIN
  UPDATE payment SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TABLE rental (
  rental_id INT NOT NULL,
  rental_date TIMESTAMP NOT NULL,
  inventory_id INT  NOT NULL,
  customer_id INT  NOT NULL,
  return_date TIMESTAMP DEFAULT NULL,
  staff_id SMALLINT  NOT NULL,
  last_update TIMESTAMP NOT NULL,
  PRIMARY KEY (rental_id),
  CONSTRAINT fk_rental_staff FOREIGN KEY (staff_id) REFERENCES staff (staff_id) ,
  CONSTRAINT fk_rental_inventory FOREIGN KEY (inventory_id) REFERENCES inventory (inventory_id) ,
  CONSTRAINT fk_rental_customer FOREIGN KEY (customer_id) REFERENCES customer (customer_id)
)
Adding ddl: CREATE INDEX idx_rental_fk_inventory_id ON rental(inventory_id)

Adding ddl: CREATE INDEX idx_rental_fk_customer_id ON rental(customer_id)

Adding ddl: CREATE INDEX idx_rental_fk_staff_id ON rental(staff_id)

Adding ddl: CREATE UNIQUE INDEX idx_rental_uq  ON rental (rental_date,inventory_id,customer_id)

Adding ddl: CREATE TRIGGER rental_trigger_ai AFTER INSERT ON rental
 BEGIN
  UPDATE rental SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE TRIGGER rental_trigger_au AFTER UPDATE ON rental
 BEGIN
  UPDATE rental SET last_update = DATETIME('NOW')  WHERE rowid = new.rowid;
 END
Adding ddl: CREATE VIEW customer_list
AS
SELECT cu.customer_id AS ID,
       cu.first_name||' '||cu.last_name AS name,
       a.address AS address,
       a.postal_code AS zip_code,
       a.phone AS phone,
       city.city AS city,
       country.country AS country,
       case when cu.active=1 then 'active' else '' end AS notes,
       cu.store_id AS SID
FROM customer AS cu JOIN address AS a ON cu.address_id = a.address_id JOIN city ON a.city_id = city.city_id
    JOIN country ON city.country_id = country.country_id
Adding ddl: CREATE VIEW film_list
AS
SELECT film.film_id AS FID,
       film.title AS title,
       film.description AS description,
       category.name AS category,
       film.rental_rate AS price,
       film.length AS length,
       film.rating AS rating,
       actor.first_name||' '||actor.last_name AS actors
FROM category LEFT JOIN film_category ON category.category_id = film_category.category_id LEFT JOIN film ON film_category.film_id = film.film_id
        JOIN film_actor ON film.film_id = film_actor.film_id
    JOIN actor ON film_actor.actor_id = actor.actor_id
Adding ddl: CREATE VIEW staff_list
AS
SELECT s.staff_id AS ID,
       s.first_name||' '||s.last_name AS name,
       a.address AS address,
       a.postal_code AS zip_code,
       a.phone AS phone,
       city.city AS city,
       country.country AS country,
       s.store_id AS SID
FROM staff AS s JOIN address AS a ON s.address_id = a.address_id JOIN city ON a.city_id = city.city_id
    JOIN country ON city.country_id = country.country_id
Adding ddl: CREATE VIEW sales_by_store
AS
SELECT
  s.store_id
 ,c.city||','||cy.country AS store
 ,m.first_name||' '||m.last_name AS manager
 ,SUM(p.amount) AS total_sales
FROM payment AS p
INNER JOIN rental AS r ON p.rental_id = r.rental_id
INNER JOIN inventory AS i ON r.inventory_id = i.inventory_id
INNER JOIN store AS s ON i.store_id = s.store_id
INNER JOIN address AS a ON s.address_id = a.address_id
INNER JOIN city AS c ON a.city_id = c.city_id
INNER JOIN country AS cy ON c.country_id = cy.country_id
INNER JOIN staff AS m ON s.manager_staff_id = m.staff_id
GROUP BY
  s.store_id
, c.city||','||cy.country
, m.first_name||' '||m.last_name
Adding ddl: CREATE VIEW sales_by_film_category
AS
SELECT
c.name AS category
, SUM(p.amount) AS total_sales
FROM payment AS p
INNER JOIN rental AS r ON p.rental_id = r.rental_id
INNER JOIN inventory AS i ON r.inventory_id = i.inventory_id
INNER JOIN film AS f ON i.film_id = f.film_id
INNER JOIN film_category AS fc ON f.film_id = fc.film_id
INNER JOIN category AS c ON fc.category_id = c.category_id
GROUP BY c.name

In [ ]:
# Entraînement avec des paires question/SQL
training_data = [
    {
        "question": "Quels sont les films d'action les plus loués ?",
        "sql": """
        SELECT 
            film.title AS film_title, 
            category.name AS category_name, 
            COUNT(rental.rental_id) AS rental_count
        FROM film AS film
        JOIN film_category AS film_cat ON film.film_id = film_cat.film_id
        JOIN category AS category ON film_cat.category_id = category.category_id
        JOIN inventory AS inventory ON film.film_id = inventory.film_id
        JOIN rental AS rental ON inventory.inventory_id = rental.inventory_id
        WHERE category.name = 'Action'
        GROUP BY film.film_id, film.title, category.name
        ORDER BY rental_count DESC
        LIMIT 10
        """
    },
    {
        "question": "Liste des films qui n'ont jamais été loués",
        "sql": """
        SELECT 
            film.title AS film_title, 
            film.release_year AS release_year, 
            film.rental_rate AS rental_price
        FROM film AS film
        LEFT JOIN inventory AS inventory ON film.film_id = inventory.film_id
        LEFT JOIN rental AS rental ON inventory.inventory_id = rental.inventory_id
        WHERE rental.rental_id IS NULL
        """
    },
    {
    "question": "Quels sont les 10 films les plus loués ?",
    "sql": """
    SELECT 
        f.title AS film_title,
        COUNT(r.rental_id) AS rental_count
    FROM film AS f
    JOIN inventory AS i ON f.film_id = i.film_id
    JOIN rental AS r ON i.inventory_id = r.inventory_id
    GROUP BY f.film_id, f.title
    ORDER BY rental_count DESC
    LIMIT 10
    """
    },
    {
    "question": "Quels sont les 10 acteurs ayant joué dans le plus de films ?",
    "sql": """
    SELECT 
        a.first_name || ' ' || a.last_name AS actor_name,
        COUNT(fa.film_id) AS film_count
    FROM actor AS a
    JOIN film_actor AS fa ON a.actor_id = fa.actor_id
    GROUP BY a.actor_id
    ORDER BY film_count DESC
    LIMIT 10
    """
    },

    {
        "question": "Qui sont les 10 meilleurs clients en termes de montant dépensé ?",
        "sql": """
        SELECT 
            customer.first_name AS customer_first_name,
            customer.last_name AS customer_last_name,
            COUNT(rental.rental_id) AS total_rentals,
            SUM(payment.amount) AS total_spent
        FROM customer AS customer
        JOIN rental AS rental ON customer.customer_id = rental.customer_id
        JOIN payment AS payment ON rental.rental_id = payment.rental_id
        GROUP BY customer.customer_id, customer.first_name, customer.last_name
        ORDER BY total_spent DESC
        LIMIT 10
        """
    },
    {
    "question": "Quels clients ont dépensé le plus ?",
    "sql": """
    SELECT 
        c.first_name || ' ' || c.last_name AS customer_full_name,
        SUM(p.amount) AS total_spent
    FROM customer AS c
    JOIN payment AS p ON c.customer_id = p.customer_id
    GROUP BY c.customer_id, c.first_name, c.last_name
    ORDER BY total_spent DESC
    LIMIT 10
    """
    },

    # Questions sur la Géographie
    {
        "question": "Nombre de clients par pays",
        "sql": """
        SELECT 
            country.country AS country_name, 
            COUNT(DISTINCT customer.customer_id) AS total_customers
        FROM customer AS customer
        JOIN address AS address ON customer.address_id = address.address_id
        JOIN city AS city ON address.city_id = city.city_id
        JOIN country AS country ON city.country_id = country.country_id
        GROUP BY country.country
        ORDER BY total_customers DESC
        """
    },
    {
    "question": "Combien de clients y a-t-il par pays ?",
    "sql": """
    SELECT 
        co.country AS country_name,
        COUNT(DISTINCT cu.customer_id) AS customer_count
    FROM customer AS cu
    JOIN address AS a ON cu.address_id = a.address_id
    JOIN city AS ci ON a.city_id = ci.city_id
    JOIN country AS co ON ci.country_id = co.country_id
    GROUP BY co.country
    ORDER BY customer_count DESC
    """
    },

    {
        "question": "Chiffre d'affaires par catégorie de film",
        "sql": """
        SELECT 
            category.name AS category_name,
            COUNT(rental.rental_id) AS total_rentals,
            SUM(payment.amount) AS total_revenue
        FROM category AS category
        JOIN film_category AS film_cat ON category.category_id = film_cat.category_id
        JOIN film AS film ON film_cat.film_id = film.film_id
        JOIN inventory AS inventory ON film.film_id = inventory.film_id
        JOIN rental AS rental ON inventory.inventory_id = rental.inventory_id
        JOIN payment AS payment ON rental.rental_id = payment.rental_id
        GROUP BY category.category_id, category.name
        ORDER BY total_revenue DESC
        """
    },
    {
    "question": "Combien de films sont disponibles dans chaque magasin ?",
    "sql": """
    SELECT 
        s.store_id,
        COUNT(i.inventory_id) AS film_count
    FROM store AS s
    JOIN inventory AS i ON s.store_id = i.store_id
    GROUP BY s.store_id
    ORDER BY film_count DESC
    """
    },
    {
        "question": "Performance des vendeurs (nombre de locations et montant)",
        "sql": """
        SELECT 
            staff.first_name || ' ' || staff.last_name AS staff_full_name,
            COUNT(rental.rental_id) AS total_rentals,
            SUM(payment.amount) AS total_sales
        FROM staff AS staff
        JOIN rental AS rental ON staff.staff_id = rental.staff_id
        JOIN payment AS payment ON rental.rental_id = payment.rental_id
        GROUP BY staff.staff_id, staff.first_name, staff.last_name
        ORDER BY total_sales DESC
        """
    },
    {
        "question": "Durée moyenne de location par catégorie de film",
        "sql": """
        SELECT 
            category.name AS category_name,
            AVG(JULIANDAY(rental.return_date) - JULIANDAY(rental.rental_date)) AS avg_duration_days
        FROM category AS category
        JOIN film_category AS film_cat ON category.category_id = film_cat.category_id
        JOIN film AS film ON film_cat.film_id = film.film_id
        JOIN inventory AS inventory ON film.film_id = inventory.film_id
        JOIN rental AS rental ON inventory.inventory_id = rental.inventory_id
        WHERE rental.return_date IS NOT NULL
        GROUP BY category.category_id, category.name
        ORDER BY avg_duration_days DESC
        """
    },
    {
    "question": "Quels sont les films qui n'ont jamais été loués ?",
    "sql": """
    SELECT 
        f.title AS film_title
    FROM film AS f
    LEFT JOIN inventory AS i ON f.film_id = i.film_id
    LEFT JOIN rental AS r ON i.inventory_id = r.inventory_id
    WHERE r.rental_id IS NULL
    GROUP BY f.film_id
    """
    },
    {
    "question": "Quelle est la durée moyenne de location par catégorie de film ?",
    "sql": """
    SELECT 
        c.name AS category_name,
        AVG(JULIANDAY(r.return_date) - JULIANDAY(r.rental_date)) AS avg_rental_duration
    FROM category AS c
    JOIN film_category AS fc ON c.category_id = fc.category_id
    JOIN film AS f ON fc.film_id = f.film_id
    JOIN inventory AS i ON f.film_id = i.film_id
    JOIN rental AS r ON i.inventory_id = r.inventory_id
    WHERE r.return_date IS NOT NULL
    GROUP BY c.category_id
    ORDER BY avg_rental_duration DESC
    """
    },
    {
        "question": "Films les plus rentables (ratio revenu/coût)",
        "sql": """
        SELECT 
            film.title AS film_title,
            COUNT(rental.rental_id) AS rental_count,
            SUM(payment.amount) AS total_revenue,
            film.replacement_cost AS replacement_cost,
            ROUND(SUM(payment.amount) / film.replacement_cost, 2) AS roi
        FROM film AS film
        JOIN inventory AS inventory ON film.film_id = inventory.film_id
        JOIN rental AS rental ON inventory.inventory_id = rental.inventory_id
        JOIN payment AS payment ON rental.rental_id = payment.rental_id
        GROUP BY film.film_id, film.title, film.replacement_cost
        HAVING rental_count > 5
        ORDER BY roi DESC
        LIMIT 10
        """
    }
]

# Entraînement du modèle avec les paires question/SQL
for item in training_data:
    print(f"Training with question: {item['question']}")
    vn.train(question=item['question'], sql=item['sql'])

Training with question: Quels sont les films d'action les plus loués ?
Training with question: Liste des films qui n'ont jamais été loués
Training with question: Qui sont les 10 meilleurs clients en termes de montant dépensé ?
Training with question: Nombre de clients par pays
Training with question: Chiffre d'affaires par catégorie de film
Training with question: Performance des vendeurs (nombre de locations et montant)
Training with question: Durée moyenne de location par catégorie de film
Training with question: Films les plus rentables (ratio revenu/coût)

In [7]:
# VannaFlaskApp(vn, allow_llm_to_see_data=True).run()

In [8]:
class SimplePassword(AuthInterface):
    def __init__(self, users: dict):
        self.users = users

    def get_user(self, flask_request) -> any:
        return flask_request.cookies.get('user')

    def is_logged_in(self, user: any) -> bool:
        return user is not None

    def override_config_for_user(self, user: any, config: dict) -> dict:
        return config

    def login_form(self) -> str:
        return '''
        <div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-indigo-500 to-purple-600 p-4">
            <div class="bg-white dark:bg-gray-800 rounded-2xl shadow-xl max-w-md w-full p-8 space-y-8">
                <!-- Logo/Icon -->
                <div class="text-center">
                    <div class="mx-auto h-16 w-16 bg-gradient-to-r from-pink-500 to-purple-500 rounded-full flex items-center justify-center">
                        <svg class="h-8 w-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
                        </svg>
                    </div>
                    <h2 class="mt-6 text-3xl font-extrabold text-gray-900 dark:text-white">
                        Bienvenue
                    </h2>
                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                        Connectez-vous à votre compte
                    </p>
                </div>

                <!-- Formulaire -->
                <form class="mt-8 space-y-6" action="/auth/login" method="POST">
                    <div class="space-y-4">
                        <!-- Email -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                                Adresse email
                            </label>
                            <div class="mt-1 relative">
                                <input 
                                    type="email" 
                                    name="email" 
                                    required 
                                    class="appearance-none block w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-xl shadow-sm placeholder-gray-400 
                                    focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent
                                    bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                                    placeholder="vous@exemple.com"
                                >
                            </div>
                        </div>

                        <!-- Mot de passe -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                                Mot de passe
                            </label>
                            <div class="mt-1 relative">
                                <input 
                                    type="password" 
                                    name="password" 
                                    required 
                                    class="appearance-none block w-full px-4 py-3 border border-gray-300 dark:border-gray-600 rounded-xl shadow-sm placeholder-gray-400 
                                    focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent
                                    bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                                    placeholder="••••••••"
                                >
                            </div>
                        </div>

                        <!-- Options de connexion -->
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <input 
                                    type="checkbox" 
                                    id="remember-me" 
                                    name="remember-me" 
                                    class="h-4 w-4 text-purple-600 focus:ring-purple-500 border-gray-300 rounded cursor-pointer"
                                >
                                <label for="remember-me" class="ml-2 block text-sm text-gray-700 dark:text-gray-300 cursor-pointer">
                                    Se souvenir de moi
                                </label>
                            </div>

                            <div class="text-sm">
                                <a href="#" class="font-medium text-purple-600 hover:text-purple-500">
                                    Mot de passe oublié?
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Bouton de connexion -->
                    <div>
                        <button 
                            type="submit" 
                            class="w-full flex justify-center py-3 px-4 border border-transparent rounded-xl shadow-sm text-sm font-medium text-white 
                            bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 
                            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 
                            transform transition-all duration-200 hover:scale-[1.02]"
                        >
                            Se connecter
                        </button>
                    </div>
                </form>

                <!-- Lien d'inscription -->
                <div class="text-center mt-4">
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                        Pas encore de compte? 
                        <a href="#" class="font-medium text-purple-600 hover:text-purple-500">
                            Créer un compte
                        </a>
                    </p>
                </div>
            </div>
        </div>
        '''

    def login_handler(self, flask_request) -> str:
        email = flask_request.form['email']
        password = flask_request.form['password']
        # Find the user and password in the users dict
        for user in self.users:
            if user["email"] == email and user["password"] == password:
                response = flask.make_response('Logged in as ' + email)
                response.set_cookie('user', email)
                # Redirect to the main page
                response.headers['Location'] = '/'
                response.status_code = 302
                return response
        else:
            return 'Login failed'

    def callback_handler(self, flask_request) -> str:
        user = flask_request.args['user']
        response = flask.make_response('Logged in as ' + user)
        response.set_cookie('user', user)
        return response

    def logout_handler(self, flask_request) -> str:
        response = flask.make_response('Logged out')
        response.delete_cookie('user')
        return response

VannaFlaskApp(
    vn=vn,
    auth=SimplePassword(users=[{"email": "admin@example.com", "password": "password"}]),
    allow_llm_to_see_data=True,
    title="E2 - Sakila",
    subtitle="Interrogez la base de données Sakila",
    show_training_data=True,
    sql=False,
    table=True,
    chart=False,
    summarization=True,
    ask_results_correct=True,
).run()

Your app is running at:
http://localhost:8084
 * Serving Flask app 'vanna.flask'
 * Debug mode: on
Using model gpt-4o-mini for 4063.25 tokens (approx)
Using model gpt-4o-mini for 138.75 tokens (approx)